.invalidField .x-form-field {
	border-color: red !important;
}
.x-title .x-innerhtml {
	font-size: 16px;
	overflow: visible !important;
}
.x-button .x-button-label {
	color: #656565;
	font-weight:600;
}
.errorfieldarea{
	color: red;
}
.box{
	/*width: 56%;*/
	position: absolute;  
    top: 90%;  
    left: 50%;  
    margin-left: -162px; /*要居中的div的宽度的一半*/  
    margin-top: -35px; /*要居中的div的高度的一半*/  
}

.box-item{
	float: left;
	text-align: center;
	display: block;
	text-decoration: none;
	outline: none;
	width: 70px;
	height: 70px;
	margin-left: 8px;
	margin-bottom: 8px;
	position: relative;
}
.box-item .txt{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}
.box-item .txt img{width: 45px;height:45px;margin-top: 15px;}
.box-item .txt span{color: #fff;font-size: 13px;display: block;}
.box-item .bg{
	background: #000;
	position: absolute;
	opacity: 0.8;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
}
#questionSubmitButton{
	background:url('http://zhongan.b0.upaiyun.com/1.5/msite/btn_submit.jpg?v1.5') !important;
	background-size:cover !important;
	border:0px;
	opacity:1 !important;
}
#backAndContinueAskButton{
	background:url('http://zhongan.b0.upaiyun.com/1.5/msite/btn_submit.jpg?v1.5');
	background-size:cover;
	border:0px;
	width:163px !important;
	height:50px;
	color: #656565;
	font-weight:600;
	line-height:50px;
}

.x-toolbar { background-color: #C2C2C2 !important; }
.x-button{
	background-color: #656565 !important; 
	border:none !important;
}
